[*.cs]

# S927: parameter names should match base declaration and other partial definitions
dotnet_diagnostic.S927.severity = none

# S3925: "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = none
